<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录界面</title>
    <!-- Bootstrap core CSS -->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="__STATIC__/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="{:url('Index/login')}">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputName" class="sr-only">Username</label>
    <input type="text" id="inputName" class="form-control" placeholder="Username" name="username" autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <a href="{:url('Index/signUp')}" class="signup btn btn-lg btn-primary btn-block">注册</a>
</form>

</body>
</html>
