<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>注册界面</title>
    <!-- Bootstrap core CSS -->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="__STATIC__/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" method="post" action="{:url('login/Index/signIn')}">
    <h1 class="h3 mb-3 font-weight-normal">注册用户</h1>
    <label for="inputName" class="sr-only">Username</label>
    <input type="text" name="username" id="inputName" class="form-control" placeholder="Username" autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    <label for="confirmPassword" class="sr-only">Password</label>
    <input type="password" name="password_confirm" id="confirmPassword" class="form-control" placeholder="Confirm Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>

</body>
</html>
